@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

body{
    background-color: #FDF8EB;
    font-family: Poppins, sans-serif;
    min-height: 100vh;
}

#app{
    min-height: 100vh;
}

.menu-open {
    overflow: hidden;
}